<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{THE_REQUEST} \s/+public(?:/|\s) [NC]
    RewriteRule ^public(?:/(.*))?$ /$1 [R=301,L,NE]

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>